*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  -webkit-font-smoothing: antialiased;
}

.main {
  min-height: 100vh;
  min-width: 1200px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.container {
  background-color: #008080;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control_panel {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  max-width: inherit;
}

.control_panel_items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
