* {
  padding: 0;
  margin: 0;
}
.main {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #008080;
  display: flex;
  align-items: center;
  justify-content: center;
}
